body {
    margin: 0;
    font-family: "Raleway", sans-serif;
}

.hero {
    height: 100vh;
    background-image: url('../images/wedding_couple.jpg');
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h1 {
    color: white;
    font-size: 64px;
    letter-spacing: 4px; 
    font-weight: 400;
    margin: 10px 0;
}
.hero p {
    color: white;
    font-size: 30px;
    font-weight: 400;
    letter-spacing: 4px;
    margin: 10px 0; 
}
.hero time {
    color: white;
    font-size: 30px;
    font-weight: 700;
    letter-spacing: 4px;
}